#girisho{
    font-size: large;
    margin-bottom: 4%;
    margin-top: 4%;
}
.giri{
    border: black solid 3px;
    border-radius: 30px;
    padding: 2%;
    width: 40%;
    display: inline-flex;
    transition: 0.7s;
}
.sho{
    border: black solid 3px;
    border-radius: 30px;
    padding: 2%;
    display: inline-flex;
    width: 40%;
    transition: 0.7s;
}
.all{
    text-align: center;
}
.giri:hover{
    padding: 2.5%;
    background:black;
    color: white;

}
.sho:hover{
    padding: 2.5%;
    background:scroll white to black;
}
#tags{
    color: blue;
}
.aim{
    text-align: center;
}
.aim{
    margin-top: 7%;
}