@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body{
    background: #FAF9F6;
}
h1{
    color:linear-gradient(to right, #fc00ff, #00dbde);
    font-family: 'Zen Dots';
    font-size:2.6rem;
    display: inline-block;
    margin-left: 21%;
}
hr{
    border: black solid 1px;
}
.contact{
    color: black;
    font-family: 'Nerko One';
    font-size: large;
}
.end{
    background: pink;
    border: white solid 1px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.luv{
    margin-left: 42%;
    font-family: 'Nerko One';
    font-size: large;
}
 
.contact{
    margin-left: 3%;
}
h3{
    color: black;
    float:right;
    padding-top: 8%;
    font-size: x-large;
}
.main{
    height:25%;
    padding-left: 10%;
    padding-top: 2%;
    overflow: hidden;
}
#btn{
    width: 10%;
    height: 7%;
    border: white solid 1px;
    background: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}
#btn:hover{
    color: black;
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    cursor: pointer;
}
.bton{
    text-align: center;
    margin-top:3% ;
    margin-bottom: 1%;
}
