@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body{
    background: black;
}
h1{
    color: white;
    font-family: 'Zen Dots';
    font-size:2.6rem;
    display: inline-block;
    margin-left: 21%;
}
.enter{
     
    text-align: center;
}
.search{
    padding: 1%;
    font-size: medium;
    border-radius: 20px;
    width: 30%;
}
.contact{
    color: black;
    font-family: 'Nerko One';
    font-size: large;
}
.end{
    background: pink;
    border: white solid 1px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.luv{
    margin-left: 42%;
    font-family: 'Nerko One';
    font-size: large;
}
.contact{
    margin-left: 3%;
}
#button{
    border-radius:30px;
    padding: 1%;
}
.items{
    margin-top: 2%;
    color: white;
    display: inline-block;
}
.btn{
    padding: 0.6%;
    width: 8%;
    background: linear-gradient(to right, #9796f0, #fbc7d4);
}
.btn:hover{
    background: linear-gradient(to left, #9796f0, #fbc7d4);
    cursor: pointer;
}
.main{
    margin-top: 6%;
    margin-bottom: 5%;
}
h3{
    color: white;
    float:right;
    padding-top: 8%;
    font-size: x-large;
}
.self{
    margin-left: 0%;
    width:40% ;
}