body{
  background: url('bg.jpg');
}
.img{
    text-align: center;
    margin-bottom: 0%;
     
}
#btn{
    text-align: center;
    margin-top: 2%;
}
#shop{
    padding: 1%;
    border-radius: 0%;

    transition: 0.6s;
     
}
#shop:hover{
   
    border-radius: 30px;
    background-color: black;
    color: white;
}