.enter{
    text-align:center;
    margin-top: 5%;
}
.search{
    height: 8%;
    width: 60%;
    border-radius:30px;
    padding: 1%;
    font-size: larger;
}
#button{
    border: black solid 1px;
    border-radius: 20px;
    width: 6%;
    height: 7%;
}